/* src/styles/components.css */
.button-lala {
  background: none;
  color: inherit;
  padding: 0.6rem 1.2rem;
  border: 1px solid currentColor;
  border-radius: 0.75rem;
  font-family: 'Playfair Display', serif;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button-lala:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dark .button-lala:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.lalaland_st .button-lala:hover {
  background-color: rgba(255, 182, 193, 0.4);
}
